<h2 class="text-2xl font-bold mb-4">Leave Requests List</h2>

  <form [formGroup]="searchForm" class="mb-4">
    <label for="search" class="block text-sm font-medium text-gray-700">Search by request number:</label>
    <div class="flex">
      <input id="search" formControlName="name" type="text" class="mt-1 inline w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-orange-500 focus:border-orange-500 sm:text-sm">
      <button (click)="addLeaveRequest()" class="inline px-4 py-2 bg-green-500 rounded mx-3 text-white text-xl hover:bg-green-700 verdana">+</button>
  </div>
  </form>

  <div class="overflow-x-auto">
    <table class="min-w-full bg-white border border-gray-200">
      <thead class="bg-gray-50">
        <tr>
          <th (click)="sortLeaveRequests('name')" class="cursor-pointer px-6 py-3 border border-gray-200 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">ID</th>
          <th (click)="sortLeaveRequests('type')" class="cursor-pointer px-6 py-3 border border-gray-200 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Employee ID</th>
          <th (click)="sortLeaveRequests('date')" class="cursor-pointer px-6 py-3 border border-gray-200 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Absence Reason</th>
          <th (click)="sortLeaveRequests('date')" class="cursor-pointer px-6 py-3 border border-gray-200 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Start Date</th>
          <th (click)="sortLeaveRequests('date')" class="cursor-pointer px-6 py-3 border border-gray-200 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">End Date</th>
          <th (click)="sortLeaveRequests('date')" class="cursor-pointer px-6 py-3 border border-gray-200 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Comment</th>
          <th (click)="sortLeaveRequests('date')" class="cursor-pointer px-6 py-3 border border-gray-200 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Status</th>
          <th class="px-6 py-3 border border-gray-200 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Actions</th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        @for (request of leaveRequests; track $index) {
        <tr>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900 border-r border-gray-200">{{ request.id }}</td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900 border-r border-gray-200">{{ request.employeeId }}</td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900 border-r border-gray-200">{{ request.absenceReason }}</td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900 border-r border-gray-200">{{ request.startDate }}</td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900 border-r border-gray-200">{{ request.endDate }}</td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900 border-r border-gray-200">{{ request.comment }}</td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900 border-r border-gray-200">{{ request.status }}</td>
          <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
            <button (click)="openRequest($index)" class="text-green-700 hover:text-green-900">Open</button>
            @if (request.status == "New" && authService.employeeId == request.employeeId) {
            <button (click)="submitRequest(request)" class="text-green-600 hover:text-green-900 ml-4">Submit</button>
            <button (click)="cancelRequest(request)" class="text-red-600 hover:text-red-900 ml-4">Cancel</button>
            }
          </td>
        </tr>
    }
      </tbody>
    </table>
  </div>