<div class="p-4">
    <h2 class="text-2xl font-bold mb-4">Approval Request Details</h2>
  
    <form [formGroup]="approvalRequestForm" (ngSubmit)="save()">
      <div class="mb-4">
        <label for="id" class="block text-sm font-medium text-gray-700">ID</label>
        <input id="id" formControlName="id" type="text" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
      </div>
  
      <div class="mb-4">
        <label for="approver" class="block text-sm font-medium text-gray-700">Approver Id</label>
        <input id="approver" formControlName="approver" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
      </div>
  
      <div class="mb-4">
        <label for="leaveRequest" class="block text-sm font-medium text-gray-700">Leave Request Id</label>
        <input id="leaveRequest" formControlName="leaveRequest" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
      </div>
  
      <div class="mb-4">
        <label for="status" class="block text-sm font-medium text-gray-700">Status</label>
        <select id="status" formControlName="status" type="text" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            @for (option of statusOptions; track $index) {
                <option>{{option}}</option>
            }
        </select>
      </div>
      <div class="mb-4">
        <label for="comment" class="block text-sm font-medium text-gray-700">Comment:</label>
        <textarea id="comment" formControlName="comment" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"></textarea>
      </div>
  
      <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Save</button>
    </form>
  </div>