<div>
    <h2 class="text-2xl font-bold mb-4 text-black">Employee List</h2>
  
    <form [formGroup]="searchForm" class="mb-4">
        <label for="search" class="block text-sm font-medium text-black">Search by name:</label>
        <div class="flex">
            <input id="search" formControlName="name" type="text" class="mt-1 inline w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-orange-500 focus:border-orange-500 sm:text-sm">
            <button (click)="addEmployee()" class="inline px-4 py-2 bg-green-500 rounded mx-3 text-white text-xl hover:bg-green-700 verdana">+</button>
        </div>
    </form>
  
    <div class="overflow-x-auto">
        <table class="min-w-full bg-white border border-gray-300">
            <thead class="bg-gray-50">
                <tr>
                    <th (click)="sortEmployees('name')" class="cursor-pointer px-6 py-3 border border-gray-200 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">№</th>
                    <th (click)="sortEmployees('name')" class="cursor-pointer px-6 py-3 border border-gray-200 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Full Name</th>
                    <th (click)="sortEmployees('position')" class="cursor-pointer px-6 py-3 border border-gray-200 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Subdivizion</th>
                    <th (click)="sortEmployees('department')" class="cursor-pointer px-6 py-3 border border-gray-200 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Position</th>
                    <th (click)="sortEmployees('department')" class="cursor-pointer px-6 py-3 border border-gray-200 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Status</th>
                    <th (click)="sortEmployees('department')" class="cursor-pointer px-6 py-3 border border-gray-200 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">People Partner</th>
                    <th (click)="sortEmployees('department')" class="cursor-pointer px-6 py-3 border border-gray-200 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Out Of Office Balance</th>
                    <th class="cursor-pointer px-6 py-3 border border-gray-200 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Actions</th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
                @for (employee of filteredEmployees; track $index) {
                    <tr>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900 border-r border-gray-200">{{ $index }}</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900 border-r border-gray-200">{{ employee.fullName }}</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900 border-r border-gray-200">{{ employee.subdivizion }}</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900 border-r border-gray-200">{{ employee.position }}</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900 border-r border-gray-200">{{ employee.status }}</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900 border-r border-gray-200">{{ employee.peoplePartnerId }}</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900 border-r border-gray-200">{{ employee.ooO_balance }}</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium flex justify-center">
                            <button (click)="openEmployee($index)" class="text-green-700 hover:text-green-900 px-3">Open</button>
                            <button (click)="activateEmployee(employee)" class="text-orange-600 hover:text-orange-900 px-3">Activate</button>
                            <button (click)="deactivateEmployee(employee)" class="text-red-600 hover:text-red-900 px-3">Deactivate</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>