/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    overflow-x: hidden;
}
app-no-access{
    display: block;
    width: 100%;
    height: 100%;
}
app-employee-manager{
    display: block;
    max-width: 82vw;
}
app-projects{
    display: block;
    max-width: 82vw;
}
app-leave-request{
    display: block;
    max-width: 82vw;
}
app-approval-request{
    display: block;
    max-width: 82vw;
}